<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>bigWork</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <filter>
    <filter-name>CharacterFilter</filter-name>
    <filter-class>com.abc.bigWork.filter.CharacterFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CharacterFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllEmployeeServlet</display-name>
    <servlet-name>FindAllEmployeeServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FindAllEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllEmployeeServlet</servlet-name>
    <url-pattern>/FindAllEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindAllUserServlet</display-name>
    <servlet-name>FindAllUserServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FindAllUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindAllUserServlet</servlet-name>
    <url-pattern>/FindAllUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddUserServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.AddUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddUserServlet</servlet-name>
    <url-pattern>/AddUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUserServlet</display-name>
    <servlet-name>DeleteUserServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.DeleteUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUserServlet</servlet-name>
    <url-pattern>/DeleteUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistributeUserServlet</display-name>
    <servlet-name>DistributeUserServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.DistributeUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributeUserServlet</servlet-name>
    <url-pattern>/DistributeUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MakeTaskServlet</display-name>
    <servlet-name>MakeTaskServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.MakeTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MakeTaskServlet</servlet-name>
    <url-pattern>/MakeTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FdAllTaskServlet</display-name>
    <servlet-name>FdAllTaskServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FdAllTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FdAllTaskServlet</servlet-name>
    <url-pattern>/FdAllTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindTaskByIdServlet</display-name>
    <servlet-name>FindTaskByIdServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FindTaskByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindTaskByIdServlet</servlet-name>
    <url-pattern>/FindTaskByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LookDetailsServlet</display-name>
    <servlet-name>LookDetailsServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.LookDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LookDetailsServlet</servlet-name>
    <url-pattern>/LookDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPlanByIdServlet</display-name>
    <servlet-name>FindPlanByIdServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FindPlanByIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPlanByIdServlet</servlet-name>
    <url-pattern>/FindPlanByIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSuperServlet</display-name>
    <servlet-name>UpdateSuperServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.UpdateSuperServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSuperServlet</servlet-name>
    <url-pattern>/UpdateSuperServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateIdServlet</display-name>
    <servlet-name>UpdateIdServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.UpdateIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateIdServlet</servlet-name>
    <url-pattern>/UpdateIdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindExecutoryServlet</display-name>
    <servlet-name>FindExecutoryServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FindExecutoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindExecutoryServlet</servlet-name>
    <url-pattern>/FindExecutoryServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindStateServlet</display-name>
    <servlet-name>FindStateServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FindStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindStateServlet</servlet-name>
    <url-pattern>/FindStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExitServlet</display-name>
    <servlet-name>ExitServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.ExitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExitServlet</servlet-name>
    <url-pattern>/ExitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskMessageServlet</display-name>
    <servlet-name>UpdateTaskMessageServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.UpdateTaskMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskMessageServlet</servlet-name>
    <url-pattern>/UpdateTaskMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SubmitUpdateTaskMessageServlet</display-name>
    <servlet-name>SubmitUpdateTaskMessageServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.SubmitUpdateTaskMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SubmitUpdateTaskMessageServlet</servlet-name>
    <url-pattern>/SubmitUpdateTaskMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTaskStateServlet</display-name>
    <servlet-name>UpdateTaskStateServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.UpdateTaskStateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTaskStateServlet</servlet-name>
    <url-pattern>/UpdateTaskStateServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPlanServlet</display-name>
    <servlet-name>FindPlanServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FindPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPlanServlet</servlet-name>
    <url-pattern>/FindPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FindPlanTaskServlet</display-name>
    <servlet-name>FindPlanTaskServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.FindPlanTaskServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FindPlanTaskServlet</servlet-name>
    <url-pattern>/FindPlanTaskServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertPlanServlet</display-name>
    <servlet-name>InsertPlanServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.InsertPlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertPlanServlet</servlet-name>
    <url-pattern>/InsertPlanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeletePlanServlet</display-name>
    <servlet-name>DeletePlanServlet</servlet-name>
    <servlet-class>com.abc.bigWork.servlet.DeletePlanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeletePlanServlet</servlet-name>
    <url-pattern>/DeletePlanServlet</url-pattern>
  </servlet-mapping>
</web-app>